/* Start*/
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Merienda+One:regular);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

/*--------------------*/
body {
  font-family: "Heebo";
  background: #edfbf9;
}
body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  text-align: center;
  padding: 0.5em 1.833em;
  color: #ffffff;
  background: #259385;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
          box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
}
.button:hover {
  background: #28a393;
  padding: 0.5em 1.2em;
}

.title {
  font-family: "Merienda One";
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin: 1.425em 0 0.407em 0;
}
@media (max-width: 1200px) {
  .title {
    font-size: 3rem;
    margin: 0.3em 0 0.407em 0;
  }
}
@media (max-width: 675px) {
  .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 2rem;
  }
}

.text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 2.196em 0;
}
@media (max-width: 1512px) {
  .text {
    margin: 0;
  }
}
@media (max-width: 1200px) {
  .text {
    font-size: 1.1rem;
  }
}
@media (max-width: 818px) {
  .text {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 675px) {
  .text {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1rem;
  }
}
@media (max-width: 560px) {
  .text {
    font-size: 0.8rem;
    max-width: 400px;
    margin: 0 auto;
  }
}

.header {
  z-index: 50;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(255, 255, 255);
  z-index: 2;
}
.header .header__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 768px) {
  .header .header__body {
    z-index: auto;
  }
}
.header .header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  position: relative;
  z-index: 3;
}
.header .header__logo img {
  width: 100%;
  height: 100%;
  -webkit-filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.116));
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.116));
}
.header .header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .header .header__burger {
    display: block;
  }
}
.header .header__burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.header .header__burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
.header .header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header .header__burger::before, .header .header__burger::after {
  content: "";
  display: block;
  background: #3f9070;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .header__burger::after {
  bottom: 0;
}
.header .header__burger::before {
  top: -1px;
}
.header .header__burger span {
  display: block;
  background: #3f9070;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  top: 9px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/start/bg-wave.svg");
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .header .menu {
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header .menu.active {
  top: 0;
}
.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 768px) {
  .header .menu .menu__list {
    position: relative;
    z-index: 2;
    padding: 80px 0 0 0;
    display: block;
    top: -40px;
  }
}
.header .menu .menu__list li {
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header .menu .menu__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }
}
.header .menu .menu__list li::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #3f9070;
  bottom: 4px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}
@media (max-width: 768px) {
  .header .menu .menu__list li::before {
    display: none;
  }
}
.header .menu .menu__list li:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header .menu .menu__item {
  font-family: "Merienda One";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #3f9070;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.116);
}
@media (max-width: 768px) {
  .header .menu .menu__item {
    color: #fff;
    font-size: 2rem;
  }
}

.page {
  padding-bottom: 100px;
}
.page .start {
  position: relative;
  padding: 100px 0 0 0;
}
.page .start .start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.page .start .start__body .start__title {
  font-family: "Merienda One";
  font-size: 4.25rem;
  line-height: 129.4117647059%;
  text-align: center;
  color: #ffffff;
  padding: 1.029em 0 0 0;
  margin: 0 0 0.323em 0;
}
@media (max-width: 1160px) {
  .page .start .start__body .start__title {
    font-size: 3.8rem;
  }
}
@media (max-width: 768px) {
  .page .start .start__body .start__title {
    font-size: 3rem;
    padding: 0 0 0 0;
  }
}
@media (max-width: 620px) {
  .page .start .start__body .start__title {
    font-size: 2.3rem;
  }
}
@media (max-width: 460px) {
  .page .start .start__body .start__title {
    font-size: 1.8rem;
  }
}
.page .start .start__body .start__text {
  font-size: 1.5rem;
  line-height: 130%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.page .start .start__body .start__text:not(:last-child) {
  margin: 0 0 1.25em 0;
}
@media (max-width: 1160px) {
  .page .start .start__body .start__text {
    font-size: 1rem;
  }
}
@media (max-width: 760px) {
  .page .start .start__body .start__text {
    font-size: 0.8rem;
  }
}
@media (max-width: 620px) {
  .page .start .start__body .start__text {
    font-size: 0.6rem;
  }
}
.page .start .start__body .start__button {
  font-family: inherit;
  display: inline-block;
  margin: 0 auto 2.333em auto;
  background: #259385;
  -webkit-box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
          box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  padding: 0.63em 2.966em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.page .start .start__body .start__button:hover {
  background: #28a393;
  padding: 0.63em 2em;
}
@media (max-width: 1160px) {
  .page .start .start__body .start__button {
    font-size: 1.4rem;
  }
}
@media (max-width: 620px) {
  .page .start .start__body .start__button {
    font-size: 1rem;
  }
}
@media (max-width: 460px) {
  .page .start .start__body .start__button {
    font-size: 0.7rem;
  }
}
.page .start .start__body .start__girl {
  max-width: 590px;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}
.page .start .start__body .start__girl img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .start .start__background {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150%;
  z-index: -1;
}
.page .cards {
  padding: 120px 0 44px 0;
}
@media (max-width: 500px) {
  .page .cards {
    padding: 60px 0 0 0;
  }
}
.page .cards .cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 180px;
     -moz-column-gap: 180px;
          column-gap: 180px;
}
@media (max-width: 1735px) {
  .page .cards .cards__row {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (max-width: 1000px) {
  .page .cards .cards__row {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page .cards .cards__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1000px) {
  .page .cards .cards__card {
    max-width: 632px;
    margin: 0 0 60px 0;
  }
}
.page .cards .cards__icon {
  width: 100px;
  height: 100px;
  margin: 50px auto 1.25rem auto;
}
.page .cards .cards__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 146.875%;
  margin: 0 50px 0.625em 50px;
  text-align: center;
  color: #000000;
}
@media (max-width: 1735px) {
  .page .cards .cards__title {
    margin: 0 20px 0.625em 20px;
  }
}
.page .cards .cards__text {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  text-align: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page .cards .cards__text:not(:last-child) {
  margin: 0 50px 3.333em 50px;
}
@media (max-width: 1735px) {
  .page .cards .cards__text:not(:last-child) {
    margin: 0 20px 2em 20px;
  }
}
.page .cards .cards__button {
  max-width: 210px;
  margin: 0 auto 90px auto;
}
.page .cards .cards__bg {
  position: absolute;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: -1;
  border-radius: 20px 20px 0 0;
  -webkit-filter: drop-shadow(0px 19px 50px rgba(26, 127, 114, 0.15));
  filter: 0px 19px 50px rgba(26, 127, 114, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.page .arrow {
  position: relative;
}
.page .arrow .arrow__hieroglyphics {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}
.page .arrow .arrow__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1512px) {
  .page .arrow .arrow__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page .arrow .arrow__row .arrow__image {
  width: 745px;
  height: 594px;
}
@media (max-width: 900px) {
  .page .arrow .arrow__row .arrow__image {
    width: 595px;
    height: 444px;
  }
}
@media (max-width: 600px) {
  .page .arrow .arrow__row .arrow__image {
    width: 495px;
    height: 344px;
  }
}
.page .arrow .arrow__row .callouts-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1512px) {
  .page .arrow .arrow__row .callouts-arrow {
    row-gap: 20px;
  }
}
.page .arrow .arrow__row .callouts-arrow__block {
  position: relative;
  width: 730px;
}
.page .arrow .arrow__row .callouts-arrow__block:hover .callouts-arrow__bg {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 8px 50px rgba(26, 127, 114, 0.2));
  filter: drop-shadow(0px 8px 50px rgba(26, 127, 114, 0.2));
}
@media (max-width: 800px) {
  .page .arrow .arrow__row .callouts-arrow__block {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .page .arrow .arrow__row .callouts-arrow__block {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .page .arrow .arrow__row .callouts-arrow__block {
    width: 300px;
  }
}
.page .arrow .arrow__row .callouts-arrow__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 146.875%;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 0.3125em 0;
  padding: 35px 58px 0 40px;
  max-width: 619px;
}
@media (max-width: 450px) {
  .page .arrow .arrow__row .callouts-arrow__title {
    font-size: 1.5rem;
  }
}
.page .arrow .arrow__row .callouts-arrow__text {
  font-size: 1.5rem;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 58px 60px 40px;
}
@media (max-width: 800px) {
  .page .arrow .arrow__row .callouts-arrow__text {
    padding: 0 58px 80px 40px;
  }
}
@media (max-width: 600px) {
  .page .arrow .arrow__row .callouts-arrow__text {
    padding: 0 58px 60px 40px;
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .page .arrow .arrow__row .callouts-arrow__text {
    padding: 0 58px 80px 40px;
  }
}
.page .arrow .arrow__row .callouts-arrow__bg {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -o-object-position: right;
     object-position: right;
  border-radius: 15px 0 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .page .arrow .arrow__row .callouts-arrow__bg {
    opacity: 1;
  }
}
.page .audio {
  margin: 0 0 94px 0;
}
@media (max-width: 1725px) {
  .page .audio {
    margin: 0 0 44px 0;
  }
}
@media (max-width: 1200px) {
  .page .audio .audio__title {
    font-size: 3rem;
    margin: 1em 0 0.407em 0;
  }
}
@media (max-width: 675px) {
  .page .audio .audio__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 560px) {
  .page .audio .audio__title {
    font-size: 2rem;
  }
}
.page .audio .audio__text {
  margin: 0 auto 1.5em auto;
}
.page .audio .audio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1250px) {
  .page .audio .audio__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page .audio .audio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 1250px) {
  .page .audio .audio__body {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 768px) {
  .page .audio .audio__body {
    row-gap: 25px;
  }
}
.page .audio .player-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .page .audio .player-audio {
    width: 500px;
  }
}
@media (max-width: 528px) {
  .page .audio .player-audio {
    width: 380px;
  }
}
@media (max-width: 400px) {
  .page .audio .player-audio {
    width: 300px;
  }
}
.page .audio .player-audio::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#1e9787), color-stop(49.39%, rgba(26, 127, 114, 0.38)), color-stop(73.58%, rgba(26, 127, 114, 0.13)), color-stop(91.23%, rgba(26, 127, 114, 0.04)));
  background: linear-gradient(90deg, #1e9787 0%, rgba(26, 127, 114, 0.38) 49.39%, rgba(26, 127, 114, 0.13) 73.58%, rgba(26, 127, 114, 0.04) 91.23%);
  -webkit-mask: -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9)) content-box, -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9));
  -webkit-mask: linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%) content-box, linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 3;
}
.page .audio .player-audio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9));
  background: linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  z-index: -1;
}
.page .audio .player-audio__body {
  padding: 30px 40px;
}
@media (max-width: 528px) {
  .page .audio .player-audio__body {
    padding: 20px 25px;
  }
}
.page .audio .player-audio__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 146.875%;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 0 10px 0;
}
@media (max-width: 768px) {
  .page .audio .player-audio__title {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
@media (max-width: 528px) {
  .page .audio .player-audio__title {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media (max-width: 400px) {
  .page .audio .player-audio__title {
    font-size: 1rem;
    padding-bottom: 4px;
  }
}
.page .audio .player-audio__text {
  font-size: 1.5rem;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .page .audio .player-audio__text {
    font-size: 1.1rem;
  }
}
@media (max-width: 528px) {
  .page .audio .player-audio__text {
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  .page .audio .player-audio__text {
    font-size: 0.6rem;
  }
}
.page .audio .player-audio__button {
  width: 50px;
  height: 50px;
  margin: 0 40px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
@media (max-width: 528px) {
  .page .audio .player-audio__button {
    width: 30px;
    height: 30px;
  }
}
.page .audio .player-audio__button img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 528px) {
  .page .audio .player-audio__button img {
    left: -1px;
  }
}
.page .audio .player-audio__button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -43px;
  background: #159685;
  border: 2px solid white;
  -webkit-box-shadow: 0px 25px 30px rgba(179, 228, 221, 0.3), 0px 9px 24px rgba(26, 127, 114, 0.23);
          box-shadow: 0px 25px 30px rgba(179, 228, 221, 0.3), 0px 9px 24px rgba(26, 127, 114, 0.23);
}
@media (max-width: 528px) {
  .page .audio .player-audio__button::before {
    top: 83%;
    left: 85%;
    width: 60px;
    height: 60px;
  }
}
.page .audio .player-audio__button.play img {
  width: 80%;
  height: 80%;
  top: 6px;
  left: 2px;
}
@media (max-width: 528px) {
  .page .audio .player-audio__button.play img {
    top: 3.5px;
    left: 0px;
  }
}
.page .audio .player-audio__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.page .audio .audio__image {
  width: 696px;
  height: 679px;
}
@media (max-width: 1250px) {
  .page .audio .audio__image {
    margin: -80px 0 -80px 0;
  }
}
@media (max-width: 768px) {
  .page .audio .audio__image {
    width: 496px;
    height: 479px;
    margin: -50px 0 -50px 0;
  }
}
@media (max-width: 528px) {
  .page .audio .audio__image {
    width: 396px;
    height: 379px;
    margin: -45px 0 -50px 0;
  }
}
.page .wave {
  padding: 154px 0 220px 0;
  position: relative;
  background: url("../img/wave/bg-wave.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 1720px) {
  .page .wave {
    padding: 154px 0 170px 0;
  }
}
@media (max-width: 1020px) {
  .page .wave {
    padding: 154px 0 200px 0;
  }
}
@media (max-width: 800px) {
  .page .wave {
    background-size: 140% 100%;
  }
}
@media (max-width: 470px) {
  .page .wave {
    background-size: 200% 100%;
  }
}
.page .wave__container {
  max-width: 1683px;
}
.page .wave__title {
  margin-top: 0;
}
@media (max-width: 1513px) {
  .page .wave__text {
    margin: 0 auto 50px auto;
  }
}
.page .wave__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
}
@media (max-width: 1450px) {
  .page .wave__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1020px) {
  .page .wave__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page .wave__row .wave__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6.25rem;
}
.page .wave__row .wave__cards .card-wave {
  width: 36.4rem;
  position: relative;
  z-index: 2;
  min-height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1725px) {
  .page .wave__row .wave__cards .card-wave {
    min-height: 10rem;
    width: 32rem;
  }
}
@media (max-width: 1450px) {
  .page .wave__row .wave__cards .card-wave {
    min-height: 15rem;
    width: 19rem;
  }
}
@media (max-width: 1020px) {
  .page .wave__row .wave__cards .card-wave {
    width: 100%;
    min-height: auto;
  }
}
.page .wave__row .wave__cards .card-wave_1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #c3eee8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
  border-radius: 16px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}
.page .wave__row .wave__cards .card-wave_1::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 4px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-4.86%, #378377), color-stop(105.44%, rgba(176, 234, 226, 0)));
  background: linear-gradient(270deg, #378377 -4.86%, rgba(176, 234, 226, 0) 105.44%);
  -webkit-mask: -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9)) content-box, -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9));
  -webkit-mask: linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%) content-box, linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 3;
}
.page .wave__row .wave__cards .card-wave_2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(26.37%, #c3eee8), color-stop(63.87%, rgba(195, 226, 222, 0.75)), color-stop(103.6%, rgba(231, 243, 242, 0.4)));
  background: linear-gradient(270deg, #c3eee8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
  border-radius: 16px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}
.page .wave__row .wave__cards .card-wave_2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 4px;
  background: -webkit-gradient(linear, left top, right top, color-stop(-4.86%, #378377), color-stop(105.44%, rgba(176, 234, 226, 0)));
  background: linear-gradient(90deg, #378377 -4.86%, rgba(176, 234, 226, 0) 105.44%);
  -webkit-mask: -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9)) content-box, -webkit-gradient(linear, left top, right top, color-stop(27.22%, #c3e2de), color-stop(48.89%, #cff1ed), color-stop(96.77%, #edfbf9));
  -webkit-mask: linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%) content-box, linear-gradient(90deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 3;
}
.page .wave__row .wave__cards .card-wave__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 146.875%;
}
@media (max-width: 1725px) {
  .page .wave__row .wave__cards .card-wave__title {
    font-size: 1.6rem;
  }
}
.page .wave__row .wave__cards .card-wave__title_1 {
  text-align: right;
  margin: 0.78125em 1.09375em 0.3125em 0.3125em;
}
@media (max-width: 1020px) {
  .page .wave__row .wave__cards .card-wave__title_1 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0.5em 0.4em 0.2em 0.4em;
  }
}
.page .wave__row .wave__cards .card-wave__title_2 {
  text-align: left;
  margin: 0.78125em 0.3125em 0.3125em 1.09375em;
}
@media (max-width: 1020px) {
  .page .wave__row .wave__cards .card-wave__title_2 {
    text-align: center;
    font-size: 2.3rem;
    margin: 0.5em 0.4em 0.2em 0.4em;
  }
}
.page .wave__row .wave__cards .card-wave__text {
  font-size: 1.5rem;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1725px) {
  .page .wave__row .wave__cards .card-wave__text {
    font-size: 1.1rem;
  }
}
.page .wave__row .wave__cards .card-wave__text_1 {
  text-align: right;
  margin: 0 1.4583em 1.0416em 0.416em;
}
@media (max-width: 1020px) {
  .page .wave__row .wave__cards .card-wave__text_1 {
    text-align: center;
    font-size: 1.4rem;
    margin: 0 1em 1em 1em;
  }
}
.page .wave__row .wave__cards .card-wave__text_2 {
  text-align: left;
  margin: 0 0.416em 1.0416em 1.4583em;
}
@media (max-width: 1020px) {
  .page .wave__row .wave__cards .card-wave__text_2 {
    text-align: center;
    font-size: 1.4rem;
    margin: 0 1em 1em 1em;
  }
}
.page .wave__row .wave__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1725px) {
  .page .wave__row .wave__image {
    width: 239px;
    height: 702px;
  }
}
@media (max-width: 1020px) {
  .page .wave__row .wave__image {
    position: relative;
    left: -25px;
    margin: 30px 0 30px 0;
    width: 39px;
    height: 502px;
  }
}